{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{titulo}}</title>
    <link href="{%static 'img/icon.png' %}" rel="icon">
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.0.4/plugins/font-awesome-5.11.1/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.0.4/css/adminlte.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/select2-4.1.0-rc.0/dist/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.0.4/css/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700">
    <link href="{% static 'lib/adminlte-3.0.4/css/style.css' %}" rel="stylesheet">
    <script src="{% static 'lib/adminlte-3.0.4/plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.0.4/js/adminlte.min.js' %}"></script>
    <script src="{% static 'lib/sweetalert2/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.0.4/js/scriptAcc.js' %}"></script>
    <script src="{% static 'lib/select2-4.1.0-rc.0/dist/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/sienna/sienna_dash.js' %}"></script>
    {% block head %}
    {% endblock  %}  
</head>
{% block body %}
{% endblock %}
</html>
